* {
    margin: auto;
    text-align: center;
}

table {
    width: 90vw;
    margin-top: 2vh;
    box-shadow: 0rem 1rem 1rem 0.5rem gray;
}

h1 {
    margin-top: 0.2vh;
}

td,
th {
    height: 7vh;
}

th {
    background-color: skyblue;
}

tr:nth-child(even) {
    background-color: rgb(207, 206, 206);
}

.heading {
    width: auto;
    height: 10vh;
    box-shadow: 0rem 0rem 0.5rem 0rem;
}